.radio-group {
    color: black;
}

div.gambs p {
    font-size: 24px !important;
    color: #000;
}

form.professor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 80%;
    max-width: 91%;
}

form.aluno {
    min-width: 700px;
    max-width: 701px;
}

form.aluno div.area-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 160%;
}

.container-radio {
    height: 25rem;
    width: 44rem;
    background-color: #C4C4C4;
    border-radius: 11px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
}

Button {
    margin: 0.6rem;
}

.icon-edit {
    margin-right: 0.6rem;
    background-color: #fff;
    background-color: #e0ecf1de;
    cursor: pointer;
    
}

.icon-edit:hover {
    transform: scale(1.04);
}
